:root{
  --theme-color:#1c0031;
}
html{
  scroll-behavior: smooth;
}
.theme-color{
  color: var(--theme-color);
}

.theme-bg{
  background-color: var(--theme-color);
}

.hero-content{
  top: 50%;
  background: #b21d37b5;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 5px;
}